<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>LG webOS Remote</string>
	<key>CFBundleDisplayName</key>
	<string>LG webOS Remote</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>Allow Local Networking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>LG webOS Remote needs local network access to communicate with your LG TV.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_webos-second-screen._tcp</string>
		<string>_lgtv._tcp</string>
	</array>
</dict>
</plist>
